<legend class="text-center"><h2><%= @evaluation.name %></h2></legend>
<h3 class="text-center">Your Score: <%= @attempt.score %></h3><br><br>
<div id="results" class="transitions-enabled infinite-scroll clearfix">
  <% @list.each do |ua| %>
    <div class="bo col-md-3 col-xs-12">
      <div class="result well well-md well-sm clearfix">
        <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
          <% if ua.correct? %>
            <i class="material-icons correct">done</i>
          <% else %>
            <i class="material-icons wrong">clear</i>
          <% end -%>
        </div>
        <div class="col-md-12 col-xs-12">
          <h3 class="text-center"><%= ua.time_taken  %>s</h3>
          <h4><pre><%= ua.question.number %>)&nbsp; <%= ua.question.question %></pre></h4>
          <p>Correct <%= "answer".pluralize(ua.question.correct_answers.count) %>: <pre><%= ua.question.correct_answers.pluck(:value).join(", ") %> </pre></p>
          <p> You answered: <pre><%= ua.at_value %></pre> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>